



/* MAINBODY */
.main-container{
    display:flex;
    flex-direction:column;
}



/* NAVBAR */
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom: 1px solid #e8e6e6;
    height:60px;
}
.container{
    display:flex;
    flex-direction:row;
    list-style:none; 
}

.container> li {
    text-decoration: none;
    margin-right: 24px;
}
.container > li > a{
    text-decoration: none;
    
}

/* 
MENUBAR */

.menubar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    box-shadow: 5px 5px 5px #dad8d8;
    height:60px;
    margin-bottom: 20px;
}

/* SEARCHBOX */

.searchbox{
    margin-bottom: 8px;
}

.searchbox input{
    border-radius: 50px;
    height: 35px;
    width: 220px;
    background-color: #eff2f2;
    border: 0px;
    padding-left: 32px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;

}



/* STAGES */
.accordian{
    text-align: left;
    padding-left: 35px;
}
.accordian ul{
   list-style:none;   
}

 .accordian-title{
    margin-bottom: 1rem;
    height: 40px;
    background-color: #f0efef;
    padding: 15px 0px 0px 10px;
    font-weight: 600;
    margin-bottom: '1rem'
 }

 .accordian-card{
    padding-left: 10px;
    font-weight: 400;
 }

 .accordian_card-body > ul {
    padding-left: 0px;
 }

 .accordian_card-body  > ul >li {
    padding-bottom: 20px;
 }


 /* EVENTS */

 .events ul{
    list-style:none;   
 }


 /* LOWER CONTAINER */

 .lower-container{
    display:flex;
    flex-direction:row;
}

.lower-container-left{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    margin-right: 10px;
}

.lower-container-middle{
    display:flex;
    flex-basis:60%;
    flex-direction: column;
}

.lower-container-right{
    display:flex;
    flex-basis:20%;
    flex-direction:column;
}

.lower-container-right-dropdown{
    width: 205px;
    height: 35px;
    border: 0;
    font-size: 14px;
    font-weight: inherit;
}


/* DETAILS ELEMENT */
 
.lower-container-middle ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
}
@media (min-width: 450px) and (max-width: 767px) {
    
  }







