



/* MAINBODY */
.main-container{
    display:flex;
    flex-direction:column;
    position: relative;
}



/* NAVBAR */
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom: 1px solid #e8e6e6;
    height:60px;
}

.logo{
    position: absolute;
    left: 10px;
    top: 5px;
}

.container{
    display:flex;
    flex-direction:row;
    list-style:none; 
}

.container> li {
    text-decoration: none;
    margin-right: 24px;
}
.container > li > a{
    text-decoration: none;  
}

.navbar-dropdown-initial{
    background-color:blue;
}

.navbar-inner-left{
    display:flex;
    flex-direction:row;
    position: absolute;
    left: 75px;
}

.navbar-inner-right{
    position: absolute;
    right: 0;
}

.hamburger-icon{
    display:none;
}


/* 
MENUBAR */

.menubar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    box-shadow: 5px 5px 5px #dad8d8;
    height:60px;
    margin-bottom: -10px}

    .menubar-container-icon{
        opacity: 1;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    }

/* SEARCHBOX */

.searchbox{
    margin-bottom: 8px;
    position: relative;
}

.searchbox input{
    border-radius: 50px;
    height: 35px;
    width: 220px;
    background-color: #eff2f2;
    border: 0px;
    padding-left: 32px;
    margin-left: 25px;
    margin-top: 31px;
    font-size: 15px;
    font-weight: 500;
}

.searchbox-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 34px;
    right: 4px;
    background-color: blue;
    border-radius: 50%;
}

.searchbox-icon img{
    opacity: 1;
    position: absolute;
    top: 9px;
    right: 8px;
}

.menubar-dropdown{
    font-weight: 500;
    color: #1c1ce9;
    width: auto;
}


/* STAGES */
.accordian{
    text-align: left;
}
.accordian ul{
   list-style:none;   
}

 .accordian-title{
    margin-bottom: 1rem;
    height: 40px;
    background-color: #b2ccf2;
    padding: 15px 0px 0px 10px;
    font-weight: 600;
    margin-bottom: '1rem';
    position: relative;

 }

 .accordian-card{
    font-weight: 400;
 }

 .accordian_card-body > ul {
    
 }

 .accordian_card-body  > ul >li {
    padding-bottom: 20px;
 }


  .accordian-image img{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 14px;
 }
 

 .pipeline-icon{
    margin-right: 10px;
 }


 /* EVENTS */

 .events ul{
    list-style:none;   
 }


 /* LOWER CONTAINER */

 .lower-container{
    display:flex;
    flex-direction:row;
}

.lower-container-left{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    /* margin-right: 10px; */
}

.lower-container-middle{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    box-shadow: 0px 9px 5px 2px #b7afaf;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 5px;
}

.lower-container-right{
    display:flex;
    flex-basis:20%;
    flex-direction:column;
    margin-top:20px;
}

.lower-container-right-dropdown {
    padding-bottom: 19px;
    padding-left: 58px;
    padding: 10px;
    width: 242px;
    border: 0
}

.lower-container-right-dropdown select{
    width: 205px;
    height: 35px;
    border: 0;
    font-size: 14px;
    font-weight: inherit;
}

.lower-container-left-dropdown {
    padding-bottom: 19px;
    padding-left: 58px;
    padding: 10px;
    width: 242px;
    border: 0
}

.lower-container-left-dropdown select{
    width: 205px;
    height: 35px;
    border: 0;
    font-size: 14px;
    font-weight: inherit;
}

.filter-button{
    font-weight: 500;
    font-size: 13px;
    background-color: #316ce2;
    height: 39px;
    /* width: 252px; */
    padding: 0px 60px;
    /* margin-left: 31px; */
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}



/* DETAILS ELEMENT */
 
.lower-container-middle ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    
}

.details-heading{
    background-color: #b2ccf2;
}

.details-heading ul{
    margin-bottom: 0rem;
    background-color: #b2ccf2;
    display:flex;
    flex-direction:row;
    align-items:center;
    border-bottom: 1px solid #e8e6e6;
    height:60px;
    width:90%;
}

.details-heading ul li:last-child{
    flex-basis: 20%;
}

.details-heading ul li{
    flex-basis: 16%;
}

.details-container{
      /* border:1px solid;
      border-top:0; */
}

.details-element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e4e0e0;
    font-size: 13px;
    height: 70px;
    align-items: center;
}

.name-initial{
    background-color: #b4b9b9;
    height: 35px;
    width: 45px;
    border-radius: 20px;
    /* text-align: center; */
    padding: 0px;
    align-self: center;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top: 5px;
    flex-basis: 4%;
}

.details-element-name{
    display: flex;
    flex-direction: column;
    margin: 13px;
    font-weight: 500;
    flex-basis: 15%;
    margin-left: 0px;
    margin-right: 0px;
}

.description{
    font-size: 10px;
    font-weight: 300;
    color: #6d7171;
}

.details-element-status{
    font-weight: 500;
    flex-basis: 10%;
}

.details-element-stage{
    font-weight: 500;
    flex-basis: 10%;
}

.details-element-source{
    font-weight: 500;
    flex-basis: 10%;
}

.details-element-addedby{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    flex-basis: 10%;
}

.timestamp{
    font-size: 10px;
    font-weight: 300;
    color: #6d7171;
}

.details-element-icons{
    display: flex;
    flex-direction: row;
    margin: 2px;
    font-weight: 500;
    flex-basis: 15%;
}

.details-element-icons img{
    opacity: 0.45;
    padding: 17px;
    margin: 5px;
    font-weight: 500;
}



    @media  (min-width: 360px) and (max-width: 767px) {

        .container{
            padding: 0px;
    flex-direction: column;
        }
        .container > li{
            margin-right: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
        }
        .navbar{
            /* height:80px; */
            position:relative;
        }

        .navbar-inner-left{ 
           width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
        }

        .navbar-inner-right{
            display: none;
        }
        
        

        .hamburger-icon{
            display:unset;
            position: absolute;
            right: 10px;
            height: 20px;
            top: 15px;
        }

        .container li:last-child{
            display:none;
        }

        .menubar-inner-right{
            display:none;
        }

       

        .lower-container {
            display: flex;
            flex-direction: row;
            margin-top: 12px;
            position: relative;
            width: 100%;
            height: 70px;
            background-color: #e6ebf1;
        }

        .lower-container-left {
            display: flex;
            flex-direction: row;
            margin-right: 0px;
            position: absolute;
            margin-left: 0px;
            justify-content: flex-start;
            width: 40%;
            left: 0px;
        }

        .searchbox {
            display: none;
        }

        .accordian {
            text-align:unset;
            padding-left: 0px;
            padding: 0px;
            /* width: -webkit-fill-available; */
            position:relative;
            width:100px;
            z-index: 9999;
            /* justify-content: space-between; */
        }

        .pipeline-icon{
            margin-right: 10px;
         }
         
        .lower-container-right {
            display: flex;
            flex-basis:unset;
            flex-direction: row;
             margin-top: 0px; 
            width: 60%;
            position: absolute;
            right: 0;
        }
        .accordian-title {
            margin-bottom: unset;
            height: 20px;
            background-color: unset;
            padding: unset;
            font-weight: 600;
            margin-bottom: unset;
            position: relative;
            border-right: 1px solid #a59e9e;
            margin-top: 22px;
        }

        .accordian-card{
            padding-left: 0px;
            margin-top:0px;
            width:185px;
            position:absolute;
            top:55px;
            border: 2px solid #f2efef;
    border-top: 0;
         }

         .accordian_card-body > ul {
            padding-left: 0px;
            background-color:white;
            width:auto;
         }

        .accordian-image img {
            display: none;
        }

        .lower-container-middle {
            display: flex;
    flex-basis: unset;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px;
        }

        .details-heading{
            display:none;
        }

        .details-heading ul {
            margin-bottom: 0rem;
            margin-top: 0px;
            /* height: 40px; */
            background-color: #b2ccf2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e8e6e6;
            height: 60px;
        }

        .details-element {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid #bdbaba;
            font-size: 13px;
            height: 70px;
            width: 100%;
        }

        .name-initial {
            background-color: #b4b9b9;
            height: 35px;
            width: 40px;
            border-radius: 30px;
            text-align: unset; 
            padding: unset; 
            align-self: center;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 600;
            color: white;
            padding-top: 5px;
            flex-basis: unset;
           }

           .details-element-name {
            display: flex;
            flex-direction: column;
            margin: 13px;
            font-weight: 500;
            flex-basis: unset;
            margin-left: 0px;
            margin-right: 0px;
        }

        .description{
            font-size: 10px;
            font-weight: 300;
            color: #6d7171;
        }
        
        .details-element-status {
    font-weight: 500;
    flex-basis: unset;
     margin-left: 0px; 
    font-size: smaller;
        }

        .details-element-stage{
            display:none;
        }

        .details-element-source{
            display:none;
        }

        .details-element-addedby{
            display:none;
        }

        .details-element-icons img {
            opacity: 0.45;
            padding: 10px;
        }

        .lower-container-right-dropdown {
            padding-bottom: 19px;
            padding-left: 58px;
            padding: 10px;
            width: 242px;
            border: 0;
            display: none;
        }

        .filter-button{
            display:none;
        }

        .main-container {
            width: 100%;
            height: -webkit-fill-available;
        }
      }

      @media  (min-width: 360px) and (max-width: 767px) {
        .navbar div:not(:first-child) {display: none;}
        .navbar div.hamburger-icon {
          /* float: right; */
          display: block;

        }
      }
      
      @media  (min-width: 360px) and (max-width: 767px) {
        .navbar.responsive {
            position: relative;
        }
        .navbar.responsive .hamburger-icon {
          position: absolute;
          right: 10px;
          height:20px;
          top: 15px;
        }

        .navbar.responsive .navbar-inner-right {
              display:none;
        }

        .navbar.responsive div {
          float: none;
          display: block;
          text-align: left;
        }

       
    }




